<!DOCTYPE html>

    
</body>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form id="add-user-form" method="POST" action="/add-User">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName">
        <label for="email">Email</label>
        <input type="email" name="email">
        <input type="submit" value="Add To Database">
    </form>
    <% if (typeof(user)!= 'undefined'){ %>
        <h3>The user with the following datas has been created:</h3> 
        <p>First Name : <%= user.firstName %></p>
        <p>Last Name : <%= user.lastName %></p>
        <p>Email : <%= user.email %></p>
    <% } %>

        
    
</body>
</html>